---
layout: page
---

<!-- People Grid Display -->
<div class="people">
  <!-- Display categorized people -->
  {%- for category in page.display_categories %}
      {%- assign categorized_people = site.people | where: "category", category -%}
      {%- assign sorted_people = categorized_people | sort: "year" | reverse %}
      <h2 style="text-align: right;">{{ category }}</h2>    <hr>
      <div class="grid">
        {%- for person in sorted_people -%}
          {%- if person.show -%}
            {% include people.liquid person=person %}
          {%- endif -%}
        {%- endfor %}
      </div>
  {%- endfor %}
</div>
